<?xml version="1.0" encoding="UTF-8"?>
<plugin id="trisoft.dita.ishhtmlhelp">
    <!-- extension points -->
    <!-- extensions --> 
    <feature extension="dita.conductor.transtype.check" value="ishhtmlhelp"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml" />
</plugin>